.container {
  display: inline-block;
}

.typedOut {
  overflow: hidden;
  border-right: 0.15em solid var(--color-secondary);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 1s steps(20, end) 1s forwards, blink 1.1s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: var(--color-secondary);
  }
}
