/* @font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src: url("/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
} */